/* Responsive For 1080px */
@media (max-width: 1080px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Responsive For 991px */
@media (max-width: 991px){
    .nav { padding: 15px 20px; }

    section { padding: 3rem 0px 1rem; }

    .home-text { padding-left: 2rem; }

    .home-text h1 { font-size: 2.1rem; line-height: 50px; }
}

/* Responsive For 768px */
@media (max-width: 768px){
   .search-box input { padding: 15px; } 

   .nav { padding: 10px 0; }

   header.shadow #menu-icon { color: var(--text-color); }

   #menu-icon { display: initial; }

   .navbar{
        position: absolute;
        top: 100%; right: 0; left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: .5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: .6s;
   }

   .navbar a{
        display: block;
        padding: 15px;
        color: var(--text-color);
   }

   .navbar a:hover,
   .navbar .active{
        border-bottom: none;
        background: var(--main-color);
        color: var(--bg-color);
   }

   header.shadow .navbar a:hover,
   header.shadow .navbar .active { color: var(--bg-color); }

   .navbar.active { clip-path: circle(144% at 0% 0%); }

   .blog-container .box { padding: 4px; }
}

/* Responsive For 727px */
@media (max-width: 727px){
	.heading span { font-size: 1rem; }

	.heading h2 { font-size: 1.8rem; }

	.about { flex-direction: column-reverse; }

	.about-text { text-align: center; }

	.about-text h2 { font-size: 1.8rem; }
}

/* Responsive For 607px */
@media (max-width: 607px){
	.footer-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/* Responsive For 360px */
@media (max-width: 360px){
	.search-box input { padding: 11px; }

	.home { min-height: 500px; }

	.home-text h1 { font-size: 1.8rem; line-height: 38px; }

	.home-text p { font-size: 1rem; }

	.home-text p br { display: contents; }

	.about { margin-bottom: -190px; }
}